.hidden {
    display: none;
}

.my-select-js {
    position: relative;
    margin: 0 16px;
    width: 100%;
    height: fit-content;
    cursor: pointer;

    & .list-wrapper {
        background: white;
        position: absolute;
        top: calc(100% + 4px);
        z-index: 20;
        left: 0;
        white-space: nowrap;
        min-width: 100%;
        width: auto;

        & .list-ul:not(.key-active){
            overflow-y: auto;
        }

        & .key-active{
            overflow: hidden;
        }
    
        & .key-active .custom-list {
            cursor: none !important;
        }

        & .list-ul{
            border: 1px solid blue;
            max-height: 214px;
    
            & .custom-list {
                padding: 8px 16px;
                cursor: pointer;
                font-size: 14px;
            }
    
            & .custom-list.active {
                background: blue !important;
                color: white;
            }

            & .custom-list.selected {
                background: rgb(212, 212, 212);
            }
        }

        & .search-input-div {
            height: 35px;
            width: 100%;
            border: 1px solid blue;
            border-bottom: none;
            display: flex;

            & .search-icon {
                width: 16px;
                margin-left: 8px;
                display: flex;
                align-items: center;
            }
        
            & .search-icon *{
                width: 16px;
            }
        
            & .search-input {
                outline: none;
                padding: 10px 16px;
                padding-left: 8px;
                width: 100%;
                border: none;
            }
        }

        & .no-data {
            padding: 10px 16px;
            border: 1px solid gray;
            font-size: 14px;
            text-align: center;
            text-transform: capitalize;
            cursor: auto;
        }
    }

    & .selected-div {
        text-transform: capitalize;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        border: 1px solid gray;
        padding: 8px 12px;
        padding-right: 36px;
        display: flex;
        flex-wrap: wrap;

        & .multi-selected-option{
            margin-right: 16px;
            display: flex;
            /* align-items: center; */

            & .multi-select-reset-icon{
                width: 12px;
                height: 12px;
                margin-right: 6px;
            }
        }

        & .multi-selected-option.active{
            color: red;
            transition: all 100ms linear;
        }

    }

    & .arrow-down {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;
    }

    & .arrow-down * {
        width: 14px;
    }

    & .reset-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        background: transparent;
        border: none;
        cursor: pointer;

        & * {
            width: 14px;
        }
    }

    & .reset-btn:hover {
        color: red;
    }

    &.disable {
        opacity: 0.5;
        pointer-events: none;
    }
}


