@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

.my-select-js{
    /* normal theme change */
    --selected-element-bg: #E3E1D9;
    --selected-element-text: black;

    --down-arrow-color: black;

    --reset-btn-color: black;
    --reset-btn-bg: transparent;

    --reset-btn-color-on-hover: red;
    --reset-btn-bg-on-hover: transparent;

    --list-wrapper-bg : #F2EFE5;
    --list-wrapper-shadow: rgb(161, 161, 161);

    --search-field-bg: #E3E1D9;
    --search-input-text: rgb(37, 37, 37);
    --search-input-placeholder-text: black;

    --list-container-bg : transparent;

    --list-text: black;
    --list-bg: transparent;
    --list-bg-hover: blue;
    --list-text-hover: white;
    --list-bg-selected: #E3E1D9;
    --list-text-selected: black;

    --no-data-bg-dark: transparent;
    --no-data-text-dark: black;

    --multi-selected-cancel-icon-on-hover: red;


    /* dark mode them */
    --selected-element-bg-dark: #24292e;
    --selected-element-text-dark: #a0a0a0;

    --down-arrow-color-dark: #a0a0a0;

    --reset-btn-color-dark: #a0a0a0;
    --reset-btn-bg-dark: transparent;

    --reset-btn-color-on-hover-dark: red;
    --reset-btn-bg-on-hover-dark: transparent;

    --list-wrapper-bg-dark : #24292e;
    --list-wrapper-shadow-dark: rgb(12, 12, 12);

    --search-field-bg-dark: #343C44;
    --search-input-placeholder-text-dark: rgb(209, 209, 209);
    --search-input-text-dark: white;

    --list-container-bg-dark : none;

    --list-text-dark: white;
    --list-bg-hover-dark: #FFA800;
    --list-text-hover-dark: white;
    --list-bg-selected-dark: #2F363D;
    --list-text-selected-dark: white;

    --no-data-bg-dark: #24292e;
    --no-data-text-dark: white;

    --multi-selected-cancel-icon-on-hover-dark: red;
    
}

.hidden {
    display: none;
}

.my-select-js {
    position: relative;
    margin: 0 16px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.my-select-js .list-wrapper {
    background: var(--list-wrapper-bg);
    position: absolute;
    top: calc(100% + 4px);
    z-index: 20;
    left: 0;
    white-space: nowrap;
    min-width: 100%;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 10px var(--list-wrapper-shadow);
}

.dark .my-select-js .list-wrapper {
    background: var(--list-wrapper-bg-dark);
    box-shadow: 0 5px 10px var(--list-wrapper-shadow-dark);
}

.my-select-js .list-wrapper .list-ul:not(.key-active) {
    overflow-y: auto;
}

.my-select-js .list-wrapper .key-active {
    overflow: hidden;
}

.my-select-js .list-wrapper .key-active .custom-list {
    cursor: none !important;
}

.my-select-js .list-wrapper .list-ul {
    max-height: 230px;
    background: var(--list-container-bg);
}

.dark .my-select-js .list-wrapper .list-ul {
    background: var(--list-container-bg-dark);
}

.my-select-js .list-wrapper .list-ul .custom-list {
    padding: .625rem 1rem;
    cursor: pointer;
    font-size: 12px;
    color: var(--list-text);
    background: var(--list-bg);
}

.dark .my-select-js .list-wrapper .list-ul .custom-list {
    color: var(--list-text-dark);
    background: var(--list-bg-dark);
}

.my-select-js .list-wrapper .list-ul .custom-list.active {
    background: var(--list-bg-hover) !important;
    color: var(--list-text-hover) !important;
}

.dark .my-select-js .list-wrapper .list-ul .custom-list.active {
    background: var(--list-bg-hover-dark) !important;
    color: var(--list-text-hover-dark) !important;
}

.my-select-js .list-wrapper .list-ul .custom-list.selected {
    background: var(--list-bg-selected);
    color: var(--list-text-selected);
}

.dark .my-select-js .list-wrapper .list-ul .custom-list.selected {
    background: var(--list-bg-selected-dark);
    color: var(--list-text-selected-dark);
}

.my-select-js .list-wrapper .search-input-div {
    height: 40px;
    width: 100%;
    background: var(--search-field-bg);
    color: var(--search-input-text);
    display: flex;
    border-bottom:1px solid rgb(196, 196, 196) ;
}

.dark .my-select-js .list-wrapper .search-input-div{
    border-bottom: none;
}

.my-select-js .list-wrapper .search-input-div input{
    color: var(--search-input-text);
    border: none;
    padding: 0 16px 0 8px;
}
.dark .my-select-js .list-wrapper .search-input-div input{
    color: var(--search-input-text-dark);
}

.my-select-js .list-wrapper .search-input-div input::placeholder{
    color: var(--search-input-placeholder-text);
}
.dark .my-select-js .list-wrapper .search-input-div input::placeholder{
    color: var(--search-input-placeholder-text-dark);
}

.dark .my-select-js .list-wrapper .search-input-div {
    background: var(--search-field-bg-dark);
    color: var(--search-input-text-dark);
}

.my-select-js .list-wrapper .search-input-div .search-icon {
    width: 32px;
    flex-shrink: 0;
    display: flex;
    background: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-select-js .list-wrapper .search-input-div .search-icon * {
    width: 16px;
}

.my-select-js .list-wrapper .search-input-div .search-input {
    outline: none;
    width: 100%;
    background: transparent;
}

.my-select-js .list-wrapper .no-data {
    padding: 10px 16px;
    background: var(--no-data-bg);
    color: 1px solid var(--no-data-text);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    cursor: auto;
}

.dark .my-select-js .list-wrapper .no-data {
    background: var(--no-data-bg-dark);
    color: var(--no-data-text-dark);
}

.my-select-js .selected-div {
    text-transform: capitalize;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    background: var(--selected-element-bg);
    color: var(--selected-element-text);
    padding-right: 36px;
    display: flex;
    flex-wrap: wrap;
    padding: .625rem 1rem;
    border-radius: 6px;
}

.dark .my-select-js .selected-div {
    background: var(--selected-element-bg-dark);
    color: var(--selected-element-text-dark);
}

.my-select-js .selected-div .multi-selected-option {
    margin-right: 16px;
    display: flex;
}

.my-select-js .selected-div .multi-selected-option .multi-select-reset-icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.my-select-js .selected-div .multi-selected-option.active {
    color: var(--multi-selected-cancel-icon-on-hover);
    transition: all 100ms linear;
}

.dark .my-select-js .selected-div .multi-selected-option.active {
    color: var(--multi-selected-cancel-icon-on-hover-dark);
}

.my-select-js .arrow-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    color: var(--down-arrow-color);
}

.dark .my-select-js .arrow-down {
    color: var(--down-arrow-color-dark);
}

.my-select-js .arrow-down * {
    width: 12px;
}

.my-select-js .reset-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    background: var(--reset-btn-bg);
    color: var(--reset-btn-color);
    border: none;
    cursor: pointer;
}

.dark .my-select-js .reset-btn {
    background: var(--reset-btn-bg-dark);
    color: var(--reset-btn-color-dark);
}

.my-select-js .reset-btn * {
    width: 12px;
}

.my-select-js .reset-btn:hover {
    color: var(--reset-btn-color-on-hover);
    background: var(--reset-btn-bg-on-hover);
}

.dark .my-select-js .reset-btn:hover {
    color: var(--reset-btn-color-on-hover-dark);
    background: var(--reset-btn-bg-on-hover-dark);
}

.my-select-js.disable {
    opacity: 0.5;
    pointer-events: none;
}